<div class="nav-container">
  <nav class="nav-inner transparent">
    <div class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="brand"><a>The.Wenzels</a></div>
            <div class="navicon">
              <div class="menu-container">
                <div class="circle dark inline">
                  <i class="icon ion-md-menu" (click)="showMenu()"></i>
                </div>
                <ng-container *ngIf="menuVisible">
                  <app-menu (closeMenu)="setVisibilityOfMenu(event)"></app-menu>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>