.row {
    width: 100%;
}

.nav-container,
nav {
    overflow: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav a {
    color: #333333;
}

.navbar {
    background: transparent;
    height: 94px;
    max-height: 94px;
    margin: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.brand {
    float: left;
    padding: 30px 0 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.brand a {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    text-decoration: none;
}

.navicon {
    position: relative;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 18px 0 0;
}

nav ul {
    display: inline-block;
}

nav ul.right {
    float: right;
    right: 0
}


.nav-text-light a {
    color: #ffffff;
}

.sticky .nav-text-light a {
    color: #555555;
}

.sticky nav.nav-inner .navbar {
    height: 70px;
    max-height: 70px;
    margin: 0;
    background: #ffffff;
}

.sticky nav.transparent .navbar {
    background: transparent;
}

@media all and (max-width: 990px) {
    .nav-text-light a {
        color: #555555;
    }

    .nav-inner {
        background: #ffffff;
    }

    .transparent {
        background: transparent;
    }

    .navicon {
        padding-right: 10px;
    }

    nav ul.right {
        float: left;
    }
}

a.icon {
    font-size: 32px;
    padding-right: 20px;
}


.circle {
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
    z-index: 99;
    padding: 4px 0 0;
}

.circle i {
    font-size: 36px;
    color: #111112;
}

.circle.dark {
    border-color: #292929;
}

.circle.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.large {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.circle.large:before {
    margin-top: -18px;
    margin-left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31.0px;
    border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.inline {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
    z-index: 0;
}

@media all and (max-width: 767px) {
    .circle.large {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }

    .circle.large:before {
        margin-top: -14px;
        margin-left: -8px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 25.0px;
        border-color: transparent transparent transparent #fff;
    }
}