@import "../styles/variables.scss";

.grid {
    display: flex;
    box-sizing: border-box;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: $gutter-width;
    margin-left: $gutter-width;
    max-width: calc($max-width + ($gutter-width * 2));

    &.justify {
        justify-content: space-between;
    }
}


.row {
    @extend .grid;
    width: 100%;
    margin: 0;
}

.col {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $gutter-width;
    padding-left: $gutter-width;

    & input,
    & textarea,
    & select {
        box-sizing: border-box;
    }
}

.col-1 {
    @extend .col;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.col-2 {
    @extend .col;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.col-3 {
    @extend .col;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-4 {
    @extend .col;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.col-5 {
    @extend .col;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.col-6 {
    @extend .col;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-7 {
    @extend .col;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.col-8 {
    @extend .col;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.col-9 {
    @extend .col;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-10 {
    @extend .col;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.col-11 {
    @extend .col;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
}

.col-12 {
    @extend .col;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.one-fifth {
    @extend .col;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
}

.two-fifths {
    @extend .col;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
}

.three-fifths {
    @extend .col;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
}

.four-fifths {
    @extend .col;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
}

.offset-0 {
    margin-left: 0;
}

.offset-1 {
    margin-left: 8.33333333%;
}

.offset-2 {
    margin-left: 16.66666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333333%;
}

.offset-5 {
    margin-left: 41.66666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333333%;
}

.offset-8 {
    margin-left: 66.66666667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333333%;
}

.offset-11 {
    margin-left: 91.66666667%;
}