/* You can add global styles to this file, and also import other style files */
@import './styles/normalize.scss';
@import './styles/variables.scss';
@import './styles/my_grid.scss';
@import './styles/typography.scss';
@import './styles/theme.scss';

.grid {
    margin-bottom: 1.5rem;

    & h6 {
        background-color: $grey;
        border-radius: 4px;
        text-align: center;
    }
}