<div class="home">
  <div class="bg-fade"></div>
  <div class="bf-fade-hero"></div>
  <div class="home-section team">
    <div class="content-container">
      <div>
        <h1 class="top-title">Herzlich Willkommen</h1>
        <h1 class="bottom-title"></h1>
        <p>bei den Wenzels</p>
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="z-index: 10; width: auto; margin-top: 60px; height: 600px; border-radius: 1px;">
          <a class="no-line" style="z-index: 10; position: absolute; margin-left: -40px; margin-top: 22px;">
          </a>
          <a class="no-line"><img src="/assets/img/logo.jpg" alt="Alex"
              style="margin-left: -65px; width: auto; height: 600px; border-radius: 1px; box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px, rgba(0, 0, 0, 0.05) 0px 6px 20px 0px;"></a>
        </div>
        <div style="z-index: 10; width: auto; margin-top: 0px; margin-left: 40px; height: 600px; border-radius: 1px;"><a
            class="no-line" style="z-index: 10; position: absolute; margin-left: 25px; margin-top: 22px;">
          </a><a><img src="/assets/img/beton-min.jpg" alt="beton"
              style="width: 550px; height: 600px; border-radius: 1px; box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px, rgba(0, 0, 0, 0.05) 0px 6px 20px 0px;"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section another">
    <div class="content-container">
      <h1 class="top-title">Build ventures</h1>
      <h1 class="top-title">with us</h1>
      <h1 class="bottom-title"></h1>
      <p>Our venture studio in Stockholm brings together capital, talent and community to create innovative companies.
      </p><a href="/studio">Learn more</a>
    </div>
  </div>
  <div class="apply-section">
    <div class="content-container">
      <h2>Are you an ambitious entrepreneur?</h2>
      <p>If you think we would make a great match, let us talk about building great things together. We’re looking for
        entrepreneurs working in consumer tech, mobile and beyond.</p><a href="obfuscated"
        style="unicode-bidi: isolate-override; direction: rtl;">oiduts.teews@ruenerpertne</a>
    </div>
  </div>

</div>