<div class="home">
  <div class="bg-fade" [style.opacity]="opacity"></div>
  <div class="bf-fade-hero" [style.opacity]="opacityReverse"></div>
  <div class="home-section team">
    <div class="content-container">
      <div>
        <h1 class="top-title">Herzlich Willkommen</h1>
        <h1 class="bottom-title"></h1>
        <p>bei den Wenzels</p>
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="z-index: 10; width: auto; margin-top: 60px; height: 600px; border-radius: 1px;">
          <a class="no-line" style="z-index: 10; position: absolute; margin-left: -40px; margin-top: 22px;">
          </a>
          <a class="no-line"><img src="/assets/img/logo.jpg" alt="Logo"
              style="margin-left: -65px; width: auto; height: 600px; border-radius: 1px; box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px, rgba(0, 0, 0, 0.05) 0px 6px 20px 0px;"></a>
        </div>
        <div style="z-index: 10; width: auto; margin-top: 0px; margin-left: 40px; height: 600px; border-radius: 1px;"><a
            class="no-line" style="z-index: 10; position: absolute; margin-left: 25px; margin-top: 22px;">
          </a><a><img src="/assets/img/beton-min.jpg" alt="beton"
              style="width: 550px; height: 600px; border-radius: 1px; box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px, rgba(0, 0, 0, 0.05) 0px 6px 20px 0px;"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section another">
    <div class="content-container">
      <h1 class="top-title">Wir wollen</h1>
      <h1 class="top-title">mit euch feiern!</h1>
      <h1 class="bottom-title"></h1>
      <p>Deshalb laden wir euch am <strong>13.07.19</strong> zu unserem Fest. Wie ihr ja wisst haben wir bereits letztes
        Jahr
        standesamlich geheiratet.
    </div>
    <div class="home-section build" style="">
      <div class="right-container">
        <div><img src="/assets/img/blumen.jpg" alt="SofaLaptop"
            style="width: auto; margin-left: 60px; margin-top: -150px; height: 300px; align-self: center; border-radius: 1px;">
        </div>
        <div style="display: flex; flex-direction: row;"><img src="/assets/img/trauzeugen_min.jpg" alt="Desks"
            style="width: auto; margin-top: 20px; height: 400px; margin-left: -25px; align-self: center; border-radius: 1px;"><img
            src="/assets/img/alex_max_min.jpg" alt="Laptop"
            style="width: auto; margin-top: 20px; margin-left: 30px; height: 300px; border-radius: 1px;"></div>
      </div>
    </div>
  </div>
  <div class="apply-section">
    <div class="content-container">
      <h2>Kommst du zur Feier?</h2>
      <p>Dann schreib uns doch bitte bis zum 31.05.19 und teile uns mit, mit wie vielen Personen du kommst und ob du
        Vegetarier bist bzw. irgendwelche Lebensmittelunverträglichkeiten hast.</p><a>thewenzelswedding@gmail.com</a>
    </div>
  </div>
</div>